name: Jest

on:
  push:
    branches: ["main"]
  pull_request:
    branches: ["main"]

jobs:
  jest:
    name: Run 'npm test'
    runs-on: ubuntu-latest
    permissions:
      contents: read
      security-events: write
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Install dependencies
        run: npm ci

      - name: Run tests
        run: npm test
        continue-on-error: true

      - name: Upload coverage
        uses: actions/upload-artifact@v6
        with:
          path: "./coverage/**/*.*"
